:root {
    --ios-color-dark-blue: #fff;
    --ios-bg-dark-blue: #5856d6;
    --ios-color-deep-blue: #fff;
    --ios-bg-deep-blue: #007AFF;
    --ios-color-blue: #fff;
    --ios-bg-blue: #34AADC;
    --ios-color-light-blue: #fff;
    --ios-bg-light-blue: #5AC8FA;
    --ios-color-green: #000;
    --ios-bg-green: #4cd964;
    --ios-color-pink: #fff;
    --ios-bg-pink: #ff2d55;
    --ios-color-red: #fff;
    --ios-bg-red: #ff3b30;
    --ios-color-orange: #fff;
    --ios-bg-orange: #ff9500;
    --ios-color-yellow: #000;
    --ios-bg-yellow: #ffcc00;
    --ios-color-grey: #fff;
    --ios-bg-grey: #8e8e93;
    --ios-color-light-grey: #000;
    --ios-bg-light-grey: #ceced2;
    --ios-color-background: #000;
    --ios-bg-background: #efeff4;
}